/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

* {
  outline: 0.5px red dashed;
}

.bg--green {
  background-color: #2e8b57;
  min-height: 100vh;
}

.body-background-app {
  background-color: #fff7e6;
}

#nav-text {
  color: white;
}

.appGreen-text {
  color: #2e8b57;
}

.container--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-width {
  width: 55%;
}
